# omogućiti URL rewrite
RewriteEngine On

# preskoči ukoliko postoji datoteku
RewriteCond %{REQUEST_FILENAME} !-f
# preskoči ukoliko postoji direktorij
RewriteCond %{REQUEST_FILENAME} !-d

# sve zahtjeve prebaci na index.php

RewriteRule (.*) index.php [L,E=PATH_INFO:/$1]

# Apache .htaccess files allow users to configure directories 
of the web server they control without modifying the main configuration file.